
body {
    font-family: 'Montserrat', Roboto;
    background: #FFF;
    width: 1440px;
    height: 2592px; 
}
header {

    width: 1440px;
    height: 72px;
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
    
}

nav a {
    text-decoration: none;  
}

nav .web {
    width: 71px;
    color: var(--iris, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-left: 156px;
    
}

nav .studio {
    width: 44px;
    color: var(--navyblue, #2E2F42);
    font-family: Raleway;
    font-size: 18px;                                                                                                                                                                            
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-left: 0px;
   
   
}
nav li a{
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
nav ul{
    display: flex;
    margin-right: 200px;
    margin-left: 76px;
       
}
nav ul li{
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    
}
    
nav li{
    padding-left: 40px;
    
}

.add{
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    display: flex;
    margin-right: 156px;  
}
.add a{
    padding-left: 40px;
    color: var(--slate, #434455);
}

/* Main hero section */
.hero {
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
    padding-top: 188px  
}
.herotext {
   width: 496px;
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    gap: 10px;
    letter-spacing: 1.12px;
    margin-left: 472px;
    margin-right: 472px;   
}
.herobtn {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: 636px;
    margin-right: 635px;
    margin-bottom: 188px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* section 2 */

.feature{
    width: 1440px;
    padding-top: 120px;
    padding-bottom: 120px;
}

main ul{
    margin-left: 156px;
    
    
}
main li{
    display: inline-block;
    text-decoration: none;
    
}

.feature h3{
    width: 264px;
    margin-bottom: 8px;
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}

.feature p{
    width: 264px;
    color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-right: 24px;
    
}
/* main 3rd section */

.image h2{
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.image ul{
    display: inline-flex;
    flex-direction: inline;
    align-items: flex-start;
    margin-top: 72px;
    margin-bottom: 120px;      
}
.image li{
    border: 1px solid var(--cornflower, #E7E9FC);
    background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 24px;     
}

/* main 4rth section */

.team {
    width: 1440px;
    height: 732px;
    flex-shrink: auto;
    background: var(--cloud, #F4F4FD);

}

.team h2 {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-top: 120px;
    margin-bottom: 72px;
}

.team li {
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
      
}

.team h3 {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    margin-top: 32px;
}
.team p {
    color: var(--slate, #434455);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-top: 8px;
    margin-bottom: 32px;
  
}


/* FOOTER */
footer{
    width: 1440px;
    height: 312px;
    background: var(--navyblue, #2E2F42);
    
}
footer a {
    display: flex;
    height: 21px;
    padding-top: 101.5px;
    text-decoration: none;
}
footer .web{
    width: 44px;
    color: var(--iris, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-left: 156px;   
}
footer .studio{

    color: var(--cloud, #F4F4FD);
    width: 71px;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;  
}
    
footer p{
    color: var(--cloud, #F4F4FD);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    margin-left: 156px;
    margin-bottom: 100px;
    margin-right: 1020px;
}


/* PORTFILIO CSS */
.portfolio {
    width: 1440px;
    height: 2076px;
    background: #FFF;
}

/* button section portfolio */

.buttonport {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin: 96px 0 72px 451px;
}

.buttonport a{
    text-decoration: none;
    cursor: pointer;
}

.btnall {
    display: flex;
    padding: 12px 24px;
    border-radius: 4px;
    background: var(--ocean, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.btnweb {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
}

.btnapp {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
}

.btndes {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
}

.btnmarket {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
}

/* First Section Portfolio */
.port1stsection ul {
    margin-left: 156px;
}

.port1stsection li {
    width: 360px;
    height: 300px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray -25.026px 0px / 125% 100% no-repeat;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}



