body {
    
    font-family: 'Roboto', sans-serif;
    --primarybackground:  #ffff;
    --primaryfontcolor: #2e2f42;
    --slate: #434455;
    --cloud: #F4f4fd;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 1.5em;
    width: 1440px;
    font-weight: 400;
    height: 2592px;
}

h2, h3, .navstudio, .navheader a {
    color: var(--primaryfontcolor);
}

.headeradd a, p {
    color: var(--slate);
}
.footstudio, .mainfoot p{
    color: var(--cloud);
}

.navheader a, .headeradd a, p {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit; 
}

.headeradd, p {
    font-weight: inherit;
}

.mainheader {
    height: 72px;
    width: 1440px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--cornflower, #E7E9FC);   
}

.navheader {
    display: flex; 
}

.navheader a {
    margin-bottom: 24px;
    margin-top: 24px;
    text-decoration: none;
    font-weight: 500;
}

.navheader .web {
    width: 71px;
    color: var(--iris, #4D5AE5);
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.navstudio {
    width: 44px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding-right: 76px;
    margin-left: 156px;
}

.navheader > ul {
    display: flex;
    margin-right: 200px;
    margin-left: 76px; 
    margin-top: 24px;  
}
.navheader li  {
    font-weight: 500;
    padding-left: 40px;
    margin-bottom: 24px;  
}
.navheader ul li  {
    list-style-type: none;
}
.headeradd{
    margin-top: 24px;

}
.headeradd a {
    padding-left: 40px;
    

}

.navheader a:focus {
    color: blue;
    
}

/* Main hero section */
.studiohero {

    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
}
.studiohero h1 {
    display: flex;
    width: 496px;
    height: 120px;
    color: var(--white, #FFF);
    text-align: center;
    font-size: 56px;
    line-height: 1.07em;
    font-weight: 700;
    gap: 10px;
    letter-spacing: 1.12px;
    padding-top: 188px;
    margin: 0px 472px 48px 472px;
  
}
   
.studiohero button{
    display: inline-flex;
    align-items: flex-start;
    font-family: inherit;
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    background: var(--cloud, #F4F4FD);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0px 635px 188px 636px;
    /* button text */
    color: var(--iris, #4D5AE5);
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 500;
}

.studiohero button:hover{
    background-color: blue;
    cursor: pointer;
    transition: 0.5s;
    color: var(--iris, #FFF);
    
}


/* section 2 */

.studiofeature{
    width: 1440px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.studiomain ul{
    margin-left: 156px;
    display: inline-flex;
}

.studiofeature ul li{
    list-style-type: none;
}  


.studiofeature h3{
    width: 264px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}

.studiofeature p{
    width: 264px;
    margin-right: 24px;
    
}
/* main 3rd section */

.studioimage h2{
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.studioimage ul{
    margin-top: 72px;
    margin-bottom: 120px;      
}
.studioimage li{
    border: 1px solid var(--cornflower, #E7E9FC);
    background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 24px;     
}

.studioimage ul li:hover{
    box-shadow: 1px 1px 5px 3px rgb(207, 66, 184);
    cursor: pointer;
    transition: 0.5s;
}

/* main 4rth section */

.studioteam {
    width: 1440px;
    height: 732px;
    flex-shrink: auto;
    background: var(--cloud, #F4F4FD);

}

.studioteam h2 {
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-top: 120px;
    margin-bottom: 72px;
}

.studioteam li {
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
      
}

.studioteam h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    margin-top: 32px;
}
.studioteam p {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 32px;
  
}

.studioteam ul li:hover{
    box-shadow: 1px 1px 5px 3px rgb(207, 66, 184);
    cursor: pointer;
    transition: 0.5s;
}


/* FOOTER */

/* FOOTER */

.mainfoot {
    width: 1440px;
    height: 312px;
    background: var(--navyblue, #2E2F42);

}

.mainfoot a {
    display: flex;
    height: 21px;
    padding-top: 101.5px;
    text-decoration: none;
   
}

.mainfoot .web {
    width: 44px;
    color: var(--iris, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-left: 156px;
}

.footstudio {
    width: 71px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding-right: 76px;

}


.mainfoot p {
    margin-left: 156px;
    margin-bottom: 100px;
    margin-right: 1020px;
}





/* PORTFILIO CSS */
.portfolio {
    height: 2076px;

}

/* button section portfolio */

.buttonport {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin: 96px 0 72px 451px;
    text-decoration: none;
    cursor: pointer;
  
}

.buttonport button {
    color: var(--iris, #4D5AE5);
    text-align: center;
    display: flex;
    padding: 12px 24px;
    font-family: inherit;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    padding: 12px 24px;
    font-size: inherit;
    font-weight: inherit;
    
    
    
}

.buttonport button:hover {
    background-color: blue;
    cursor: pointer;
    transition: 0.5s;
    color: var(--iris, #FFF);
}

.buttonport button:focus {
    background-color: blue;
}

/*  main section Portfolio */

.portsection{
    margin-left: 156px;
    margin-top: 48px;
    margin-bottom: 120px;
}

.portsection li {
    display: inline-flex;;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
}

.portsection li h3{
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    margin-left: 16px;
    margin-top: 32px;

}
.portsection li p{
    margin-bottom: 32px;
    font-weight: 400;
    margin-left: 16px;
}

.portsection li:hover {
    box-shadow: 1px 1px 4px 3px rgb(207, 66, 184);
    cursor: pointer;
    transition: 0.5s;
}




