
body {
    font-family: 'Montserrat', Roboto;
    background: #FFF;
    width: 1440px;
    height: 2592px;
    
}
header{
    width: 1440px;
    height: 72px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
    display: inline-flex;

}
nav{
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  
}

nav .headerA{
    width: 44px;
    color: var(--navyblue, #2E2F42);
    font-family: 'Raleway';
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin: 25.5px 0 25.5px 156px;
  
}

nav .logo{
    width: 71px;
    color: var(--iris, #4D5AE5);
    font-family: 'Raleway';
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    
}

nav ul{
    display: inline-flex;
    align-items: flex-start;
    margin-right: 332px;
    margin-left: 76px;
    
}

nav ul li{
    display: inline-block;
    

}

nav a{
    color: var(--navyblue, #2E2F42);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
}

nav li{
    gap: 40px;
    padding-left: 40px;
}

.add{
    color: var(--slate, #434455);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    display: inline-flex;
    
   
}

/* Section 1 */
.main1st {
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
    padding: 188px 242px 298px 242px;

}

.h1text {
    width: 496px;
    color: var(--white, #FFF);
    align-items: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;

    margin-left: 250px;
}
.btn {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    margin-left: 400px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* section 2 */

main ul{
    margin-left: 156px;
    margin-right: 156px;
    margin-bottom: 120px;
}
main li{
    display: inline-block;
    text-decoration: none;

    color: var(--slate, #434455);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.main2nd h3{
    width: 264px;
    margin-top: 120px;
    margin-bottom: 8px;
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;

}

.main2nd p{
    width: 264px;
    color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    margin-bottom: 120px;
}

.main3rd h2{
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.main3rd ul{
    display: inline-flex;
    flex-direction: inline;
    align-items: flex-start;
    margin-top: 72px;
    margin-bottom: 120px;      
}
.main3rd li{
    border: 1px solid var(--cornflower, #E7E9FC);
    background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
       
}

.main4rth {
    width: 1440px;
    height: 732px;
    flex-shrink: auto;
    background: var(--cloud, #F4F4FD);

}

.main4rth h2 {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-top: 120px;
    margin-bottom: 72px;
}

.main4rth ul{
    gap: 32px;
}

.main4rth li {
    background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
}

.main4rth h3 p{
    padding: 32px;
}

/* FOOTER */
.foot{
    width: 1440px;
    height: 312px;
    background: var(--navyblue, #2E2F42);
    

}
.foot a{
    display: flex;
    width: 44px;
    height: 21px;
    justify-content: center;
    color: var(--cloud, #F4F4FD);
    font-family: 'Raleway';
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;

      
}
    
  


.foot p{
    color: var(--cloud, #F4F4FD);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    margin: 17.5px 1020px 100px 156px;
}


/* PORTFILIO CSS */
.containerport {
    width: 1440px;
    height: 2076px;
    background: #FFF;
}

.navheaderport {
    display: flex;
    width: 1440px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
}

.navheaderport .headerAport {
    width: 44px;
    color: var(--navyblue, #2E2F42);
    font-family: 'Raleway';
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin: 25.5px 0 25.5px 156px;
    margin-right: 76px;
}

.navheaderport .logoport {
    width: 71px;
    color: var(--iris, #4D5AE5);
    font-family: 'Raleway';
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;

}

.navheaderport ul {
    display: inline-flex;
    align-items: flex-start;
}

.navheaderport ul li {
    display: inline-block;
}

.navheaderport a {
    color: var(--navyblue, #2E2F42);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
}

.navheaderport li {
    gap: 40px;
    padding-left: 40px;
}

.addport {
    color: var(--slate, #434455);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;

    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    margin: 24px 40px 24px 332px;
    margin-right: 156px;
}

.buttonport {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin: 96px 0 72px 451px;
}

.buttonport a{
    text-decoration: none;
}

.portAll {
    display: flex;
    padding: 12px 24px;
    border-radius: 4px;
    background: var(--ocean, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portWeb {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
}

.portApp {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
}

.portDes {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
}

.portMar {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
}

/* First Section Portfolio */
.port1stsection ul {
    margin-left: 156px;
}

.port1stsection li {
    width: 360px;
    height: 300px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray -25.026px 0px / 125% 100% no-repeat;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}



/* Paayos po footerr. */
/* FOOTER */
.footport {
    height: 312px;
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
    flex-direction: column;
    justify-content: center;

}

.afootport {
    color: var(--cloud, #F4F4FD);
    font-family: 'Raleway';
    font-size: 18px;
    width: 71px;
    height: 21px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;

}

.logofootport {
    color: var(--iris, #4D5AE5);
    font-family: 'Raleway';
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin: 101.5 1169px 17.5px 0;
}

.footport p {
    color: var(--cloud, #F4F4FD);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    margin: 140px 1020px 100px 156px;
}
